# Main sys user in Yocto, Suse and Python containers, also used as Postgres DB owner
USER=user

# User for SSH access to Yocto VM
SSH_QEMU_USER=root
# User for SSH access to Suse VM
S_USER=suser

# Postgres DB name
POSTGRES_DB=os-testing-db

# Password for users, used in Postgres DB and for SSH access to Suse VM
PASSWORD=password

# User group for containers
GROUP=yoctogroup

# Yocto image name to build
OS_IMAGE=core-image-minimal

# RAM size in MB each VM (Yocto and Suse)
QEMU_VM_RAM=3072

# Paths
# Yocto directory for yocto sources
POKY_DIR=/home/${USER}/poky
# Yocto build directory
BUILD_DIR=${POKY_DIR}/build

# Suse directory for suse files
SUSE_DIR=/home/${USER}/suse


# Docker Network
DOCKER_NETWORK=yocto-network
SUBNET=10.5.0.0/24
GATEWAY=10.5.0.1

# IPs
# IP addresses for containers
PYTHON_ADDRESS=10.5.0.11
YOCTO_ADDRESS=10.5.0.10
SUSE_ADDRESS_156=10.5.0.13
BENCHER_API_ADDRESS=10.5.0.14
BENCHER_CLI_ADDRESS=10.5.0.15
POSTGRES_ADDRESS=10.5.0.20
VMETRICS_ADDRESS=10.5.0.25
METABASE_ADDRESS=10.5.0.30
METABASE_META_DB_ADDRESS=10.5.0.35
# IP address for QEMU monitor. Used for creating and restoring snapshoots
QEMU_MONITOR_ADDRESS=10.0.2.2

# Ports
# Metabase port
METABASE_PORT=3000
METABASE_META_DB_PORT=5445
# Ports for Bencher
BENCHER_API_PORT=61016
BENCHER_CLI_PORT=3000

# Port for Postgres DB
POSTGRES_PORT=5432

# VictoriaMetrics port
VMETRICS_PORT=8438
# Ports for Node Exporter
DEFAULT_NE_PORT=9100
YOCTO_NE_PORT=9100
SUSE_156_NE_PORT=9166

# Port for QEMU monitor
QEMU_MONITOR_PORT=4444

# Port for iperf3 tests
IPERF3_PORT=5201

# Port for Django interface for running tests and displaying results
DJANGO_PORT=8000

# SSH ports
# Port for external access to Suse VM
SSH_SUSE_PORT_156=1616
# Port for external access to Yocto VM
SSH_QEMU_PORT=2222
# Internal SSH port for Yocto and Suse VMs
SSH_TO_QEMU_PORT=22

# Metabase
METABASE_META_DB_NAME=metabase
METABASE_META_USER=metabase
METABASE_META_PASS=metabase
