USER                       := user
S_USER                     := suser
PASSWORD                   := password
GROUP                      := yoctogroup
POSTGRES_DB                := os-testing-db
OS_IMAGE                   := core-image-minimal
LIB_NAME                   := imgtests


# Docker Network
DOCKER_NETWORK             := yocto-network
QEMU_MONITOR_ADDRESS       := 10.0.2.2
YOCTO_ADDRESS              := 10.5.0.10
PYTHON_ADDRESS             := 10.5.0.11
SUSE_ADDRESS_156           := 10.5.0.13
BENCHER_API_ADDRESS        := 10.5.0.14
BENCHER_CLI_ADDRESS        := 10.5.0.15
POSTGRES_ADDRESS           := 10.5.0.20
VMETRICS_ADDRESS 		   := 10.5.0.25
SUBNET                     := 10.5.0.0/24
GATEWAY                    := 10.5.0.1

SSH_TO_QEMU_PORT		   := 22
SSH_QEMU_PORT              := 2222
SSH_SUSE_PORT_156          := 1616
QEMU_MONITOR_PORT          := 4444
IPERF3_PORT                := 5201
DJANGO_PORT                := 8000
BENCHER_API_PORT           := 61016
BENCHER_CLI_PORT           := 3000
POSTGRES_PORT              := 5432
VMETRICS_PORT              := 8438

# VictoriaMetrics-docker-network
DEFAULT_NE_PORT		       := 9100
YOCTO_NE_PORT		   	   := 9100
SUSE_156_NE_PORT		   := 9166

SSH_QEMU_USER              := root

# 3Gb of virtual memory for each system
QEMU_VM_RAM				   := 3072

# Paths
POKY_DIR                   := /home/${USER}/poky
SUSE_DIR                   := /home/${USER}/suse
BUILD_DIR                  := ${POKY_DIR}/build
