{% import "blocks/charts.html.j2" as chart %}
{% macro render_header(header) -%}
<p class="muted">
  Test type: <b>{{ header.test_kind|capitalize }}</b>
  Experiment ID: <b>{{ header.experiment_id }}</b> |
  Plan ID: <b>{{ header.plan_id }}</b>
</p>
<p class="muted">Started: {{ header.started_at }} | Ended: {{ header.ended_at }}</p>
<p>
  Total tasks: <b>{{ header.tests_counts.total_count }}</b> |
  Passed: <b class="ok">
    {{ header.tests_counts.passed_count }}
  </b> |
  Failed: <b class="{{ 'bad' if header.tests_counts.failed_count else 'ok' }}">
    {{ header.tests_counts.failed_count }}
  </b> |
  Broken: <b class="{{ 'bad' if header.tests_counts.broken_count else 'ok' }}">
    {{ header.tests_counts.broken_count }}
  </b> |
  Skipped: <b>
    {{ header.tests_counts.skip_count }}
  </b>
</p>
{{ chart.render_chart(header.tests_stats) }}
{%- endmacro %}
