{% extends 'tests_interface/base.html' %}

{% block title %}OpenSUSE Tests{% endblock %}

{% block content %}
<div class="card">
    <div class="header-with-back">
        <a href="{% url 'index' %}" class="back-button">Back to Dashboard</a>
        <div class="page-title">
            <h1>Tests page for OpenSUSE</h1>
        </div>
    </div>

    <div class="content">

        <div class="placeholder">
          <button id="runTestsBtn" class="btn btn-primary">Run tests</button>
          <div id="outputContainer" style="
            max-height: 400px;
            overflow-y: auto;
            background: #f5f5f5;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-family: monospace;
            white-space: pre-wrap;
            text-align: left;
            ">
	  </div>
        </div>
    </div>
</div>

{% load static %}
<script>
    window.csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static "js/launch_test.js" %}"></script>
{% endblock %}
